body {
  background-color: #6699ff;
}

.container {
  width: 60%;
  margin: 0 auto;
}

ul {
  display: flex;
}

li {
  margin-top: 20%;
  list-style-type: none;
  margin-left: 5%;
  border-radius: 50%;
  height: 25px;
  width: 25px;
  background-color: black;
}

.buttons {
  display: flex;
  justify-content: center;
  margin-top: 5%;
}

button {
  width: 10em;
  margin: 0 2% 0 2%;
  height: 3em;
  border-radius: 15%;
  border: none;
  background-color: #99ff33;
}

button:hover {
  background-color: #33ff00;
  border: none;
}

button,
button:active,
button:focus {
  outline: none;
  cursor: pointer;
}

.yellow {
  background-color: #ffcc00;
}

.green {
  background-color: #00ff00;
}

.blue {
  background-color: #0066ff;
}

.red {
  background-color: #ff0033;
}

.glow-yellow {
  -webkit-box-shadow: 0px 0px 50px 22px #fffe5f;
  box-shadow: 0px 0px 50px 22px #fffe5f;
}

.glow-blue {
  -webkit-box-shadow: 0px 0px 50px 22px #081bff;
  box-shadow: 0px 0px 50px 22px #081bff;
}

.glow-red {
  -webkit-box-shadow: 0px 0px 50px 22px #ff1f37;
  box-shadow: 0px 0px 50px 22px #ff1f37;
}

.glow-green {
  -webkit-box-shadow: 0px 0px 50px 22px #1fff2c;
  box-shadow: 0px 0px 50px 22px #1fff2c;
}
