body {
    background-color: #6699FF;
}

.container {
    width: 60%;
    margin: 0 auto;
}

ul {
    display: flex;
}

li {
    margin-top: 20%;
    list-style-type: none;
    margin-left: 5%;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    background-color: black;
}

.buttons {
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

button {
    width: 10em;
    margin: 0 2% 0 2%;
    height: 3em;
    border-radius: 15%;
    border: none;
    background-color: #99FF33;
}

button:hover {
    background-color: #33FF00;
    border: none;
}

button,
button:active,
button:focus {
    outline: none;
}

.yellow {
    background-color: #FFCC00;

}

.green {
    background-color: #00FF00;

}

.blue {
    background-color: #0066FF;
}

.red {
    background-color: #FF0033;

}

.glow-yellow {
    -webkit-box-shadow: 0px 0px 50px 22px #FFFE5F;
    box-shadow: 0px 0px 50px 22px #FFFE5F;
}

.glow-blue {
    -webkit-box-shadow: 0px 0px 50px 22px #081BFF;
    box-shadow: 0px 0px 50px 22px #081BFF;
}

.glow-red {
    -webkit-box-shadow: 0px 0px 50px 22px #FF1F37;
    box-shadow: 0px 0px 50px 22px #FF1F37;
}

.glow-green {
    -webkit-box-shadow: 0px 0px 50px 22px #1FFF2C;
    box-shadow: 0px 0px 50px 22px #1FFF2C;
}